// src/styles/main.scss
@import "./variables";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.achievementsSection {
  padding: 20px;
  flex-grow: 1; /* Allow the achievements section to grow and take available space */
}
