// src/components/ImagePreview.scss
@import '../variables';

.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $preview-bg;
    color: $text-color-light;
    width: 50vw; // Desktop width
    height: 100vh; // Desktop height
    overflow: hidden; // Ensure content doesn't overflow
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; // Ensures the image is fully contained
}

@media (max-width: $breakpoint-mobile) {
    .image-preview-container {
        width: 100vw; // Mobile width
        height: 50vh; // Mobile height
    }
}