body {
  margin: 0;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#brickBreakerCanvas {
  background-color: #003366; /* Dark blue background for game area */
}
